.flexbox-container-1{
    display: flex;
    width: 50%;
}
.flexbox-container-2{
    display: flex;
    width: 50%;
}
.flexbox-item{
    flex-grow: 1;
    border: 3px solid white;
    background-color: cornflowerblue;
}
.flexbox-item-1{
    height: 80px;
}
.flexbox-item-2{
    height: 80px;
}
.flexbox-item-3{
    height: 80px;
}
.flexbox-item-4{
    height: 80px; 
}
.flexbox-item-5{
    height: 80px;
    flex-grow: 1;
}
.flexbox-item-6{
    height: 80px;
    flex-grow: 2;   
}
.flexbox-item-7{
    height: 80px;
    flex-grow: 2;
    
}