.pink{
    color: pink;
    font-size: 50px;
    font-family: fantasy;
}
.blue{
    color: blue;
    font-size: 25px;
    font-family: monospace;
}
.small{
    color: blueviolet;
    font-family: serif;
}